  <nav class="col-md-2  d-md-block sidebar">
	  <div class="sidebar-sticky">

		  {% if campaign %}
		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
			Manage campaign {{ campaign.name }}
		</h6>

		<ul class="nav flex-column">
		  <li class="nav-item">
			<a class="nav-link active" href="{{ campaign.get_absolute_url }}">
			  View campaign
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'manage_campaign' campaign.slug %}">
			  Manage campaign
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'manage_streamers' campaign.slug %}">
			  Manage streamers
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'manage_entities' campaign.slug %}">
			  Manage entities
			</a>
		  </li>
		</ul>
		  {% endif %}

		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
		  <span>General Management</span>
		  <a class="d-flex align-items-center text-muted" href="#">
			<span data-feather="plus-circle"></span>
		  </a>
		</h6>
		<ul class="nav flex-column mb-2">
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'manage_campaign' %}">
			  Create campaign
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'manage_streamers' %}">
			  Manage/Create streamers
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'manage_entities' %}">
			  Manage/Create entities
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'manage_twitter_accounts' %}">
			  Manage/Create Twitter API keys
			</a>
		  </li>
		</ul>
	  </div>
	</nav>

