# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Tafferugli
email: sowdust@tafferugli.io
description: >- # this means to ignore newlines until "baseurl:"
  Tafferugli documentation.
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://doc.tafferugli.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: s0wdust
github_username:  sowdust
logo: "/assets/header.png"

aux_links:
  "Tafferugli on GitHub":
    - "//github.com/sowdust/tafferugli"
aux_links_new_tab: true

footer_content: "<span style='font-size:16px;position:relative;top:2px;display:inline-block;transform:rotate(180deg);'>&copy;</span> sowdust &middot; <a href='https://www.gnu.org/licenses/agpl-3.0.en.html'>AGPL 3.0</a>"

# Footer last edited timestamp
last_edit_timestamp: true # show or hide edit time - page must have `last_modified_date` defined in the frontmatter
last_edit_time_format: "%b %e %Y at %I:%M %p" # uses ruby's time format: https://ruby-doc.org/stdlib-2.7.0/libdoc/time/rdoc/Time.html



# Build settings
theme: just-the-docs
color_scheme: nil
plugins:
  - jekyll-feed
  - kramdown

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
